@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Chivo+Mono:wght@200&family=Comfortaa:wght@300&family=IBM+Plex+Mono:wght@200&family=Lora&family=Monoton&family=Open+Sans&family=Poppins:wght@600&family=Roboto&family=Share+Tech+Mono&family=Source+Code+Pro&display=swap");

/* Variables */
:root {
  --bs-navbar-toggler-d: 0px;
  --bs-border-width: 0px;
}
/* Vital Declarations*/
html {
  scroll-behavior: smooth;
}
.container-fluid {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0rem;
}
body {
  background-color: white;
  font-family: "Roboto";
}
a {
  text-decoration: none;
}

/* Header */
header {
  width: 100%;
  height: 56px;
  background-color: #003153;
  padding: 0;
  z-index: 99;
}
.navbar {
  background: #003153;
  z-index: 2;
}
.navbar-toggler:focus {
  box-shadow: var(--bs-navbar-toggler-d);
}
.navbar-brand {
  text-shadow: 1px 1px 1px rgba(53, 48, 48, 0.327),
    1px 2px 1px rgba(0, 0, 0, 0.327), 1px 3px 2px rgba(0, 0, 0, 0.327),
    1px 4px 3px rgba(0, 0, 0, 0.327), 1px 5px 4px rgba(0, 0, 0, 0.327),
    1px 6px 5px rgba(0, 0, 0, 0.327), 1px 7px 6px rgba(0, 0, 0, 0.327),
    1px 8px 7px rgba(0, 0, 0, 0.327), 1px 9px 8px rgba(0, 0, 0, 0.327);
}
.navbar-brand span {
  margin-top: 40px;
  letter-spacing: 3px;
  font-family: "Comfortaa";
  -webkit-text-stroke: 2px #76abdf;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(53, 48, 48, 0.327),
    1px 2px 1px rgba(0, 0, 0, 0.327), 1px 3px 2px rgba(0, 0, 0, 0.327),
    1px 4px 3px rgba(0, 0, 0, 0.327), 1px 5px 4px rgba(0, 0, 0, 0.327),
    1px 6px 5px rgba(0, 0, 0, 0.327), 1px 7px 6px rgba(0, 0, 0, 0.327),
    1px 8px 7px rgba(0, 0, 0, 0.327), 1px 9px 8px rgba(0, 0, 0, 0.327);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(7, 243, 243)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: all 0.3s ease;
}
.nav-link {
  position: relative;
  letter-spacing: 1px;
  font-family: "Comfortaa";
  -webkit-text-stroke: 1px rgb(27, 231, 231);
  color: transparent;
  transition: all 0.3s ease;
}
.nav-link:hover {
  -webkit-text-stroke: 1px #76abdf;
  color: transparent;
}
.nav-link.active {
  -webkit-text-stroke: 1px #76abdf;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(53, 48, 48, 0.327),
    1px 2px 1px rgba(0, 0, 0, 0.327), 1px 3px 2px rgba(0, 0, 0, 0.327),
    1px 4px 3px rgba(0, 0, 0, 0.327), 1px 5px 4px rgba(0, 0, 0, 0.327);
  transition: all 0.3s ease;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  border-radius: 5px;
  transform-origin: bottom center;
  bottom: 4%;
  background-color: #76abdf;
  transform: translate(30%, 0%);
  transition: all 0.3s ease;
}
.nav-link:hover:before {
  width: 70%;
}
/* Toggle button */
.navbar-toggler {
  width: 30px;
  height: 20px;
  position: relative;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  /* border: 1px solid red; */
}
.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler-icon {
  outline: none;
  box-shadow: none;
  border: 0;
}
.navbar-toggler span {
  margin: 0;
  padding: 0;
}
.toggler-icon {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(27, 231, 231);
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  pointer-events: none;
  transition: all 0.25s ease-in-out;
}
.middle-bar {
  margin-top: 0px;
}
/* when clicked */
.navbar-toggler .top-bar {
  margin-top: 8px;
  transform: rotate(135deg);
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  margin-top: 8px;
  transform: rotate(-135deg);
}
/* state when collapsed */
.navbar-toggler.collapsed .top-bar {
  margin-top: 6px;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
  margin-top: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  margin-top: 12px;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .toggle-icon {
  transform: all 0.3s ease-in-out;
}
/* Main - First section */
.main:first-child {
  margin-top: 50px;
  height: 90vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(60, 86, 86, 0.14),
      rgba(39, 35, 35, 0.555)
    ),
    url(Images/background_img.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Children */
/* First child in main-first section */
.child-one {
  /* background-color: white; */
  border-radius: 10px;
}
.row-first {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
h1 {
  /* color: rgb(7, 243, 243); */
  margin-top: 55px;
  font-family: "Comfortaa";
  letter-spacing: 4px;
  -webkit-text-stroke: 2px #03182d;
  color: transparent;
  margin-bottom: 10px;
  transform: translate(0px, -100px);
  transition: all 0.9s ease;
  opacity: 0;
}
.heading span {
  letter-spacing: 5px;
  color: #002d62;
  font-family: "Poppins";
  text-shadow: 1px 1px 1px rgba(53, 48, 48, 0.327),
    1px 2px 1px rgba(0, 0, 0, 0.327), 1px 3px 2px rgba(0, 0, 0, 0.327),
    1px 4px 3px rgba(0, 0, 0, 0.327), 1px 5px 4px rgba(0, 0, 0, 0.327),
    1px 6px 5px rgba(0, 0, 0, 0.327), 1px 7px 6px rgba(0, 0, 0, 0.327),
    1px 8px 7px rgba(0, 0, 0, 0.327), 1px 9px 8px rgba(0, 0, 0, 0.327);
}
.read-contact {
  margin-top: 40px;
}
.btn-read {
  text-decoration: none;
  border-radius: 5px;
  background: transparent;
  border: 2px solid rgb(27, 231, 231);
  opacity: 1;
  padding: 5px 5px;
  transition: all 0.3s ease;
}
.btn-read a,
.btn-contact a {
  color: rgb(27, 231, 231);
  letter-spacing: 2px;
  padding: 10px 10px;
}
.btn-read:hover {
  background: rgb(27, 231, 231);
  color: #041e42;
}
.btn-read:hover a {
  color: #041e42;
}
.btn-contact {
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 5px;
  margin-left: 20px;
  background: #041e42;
  border: 2px solid #041e42;
  opacity: 1;
  transition: all 0.3s ease;
}
.btn-contact:hover {
  background: transparent;
  border: 2px solid rgb(27, 231, 231);
}
.btn-contact:hover a {
  color: rgb(27, 231, 231);
}
.intro-text {
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 1.4rem;
  font-family: "Poppins";
  transform: translate(0px, 50px);
  transition: all 0.3s ease;
  opacity: 0;
}

/* Second child in main-first section */
.overlay {
  width: 100%;
  height: 500px;
  z-index: 1;
  position: relative;
  transition: all 0.3s ease;
  transform: translate(20px, 30px);
  opacity: 0;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.overlay::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 440px;
  background: linear-gradient(#143e78, rgb(27, 231, 231));
  border-radius: 4px;
  transform: translate(-30px, -20px);
  z-index: -2;
}

.overlay img {
  transition: all 0.3s ease;
  max-height: 95%;
  border-radius: 10px;
  padding: 15px 15px;
  border-bottom: 2px solid rgb(40, 205, 205);
  border-left: 2px solid rgba(27, 231, 231, 0.242);
  border-right: 2px solid #143e78;
  border-top: 2px solid #143e78;
}

.navbar-brand {
  letter-spacing: 3px;
  font-family: "Comfortaa";
  -webkit-text-stroke: 2px rgb(27, 231, 231);
  color: transparent;
}
.down {
  width: 15%;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: linen;
  transform: translate(0px, 0px);
  transition: all 0.3s ease;
  animation-direction: alternate;
}
/* Fade in animation-class */
.fade-in {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.3s ease;
  transition-delay: 0.4s;
}
/* Main - Second section */
.main:nth-child(2) {
  position: relative;
  height: auto;
  background-color: linen;
  /* border: 2px solid red; */
  z-index: 22;
}
.links {
  color: transparent;
  margin-right: 10px;
}
/*Main - Third section */
.main:nth-child(3) {
  height: 800px;
  background: linear-gradient(#367588, #0076ce);
}
/*Main - Last section */
.main:last-child {
  height: 800px;
  background: linear-gradient(#005f69, #041e42);
  /* background-image: url(Images/pexels-tara-winstead-8386440.jpg); */
}
/* Back to top button */
#btt {
  position: fixed;
  background-color: #041e42;
  border: 2px solid #041e42;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  bottom: 10px;
  display: block;
  right: 10px;
  opacity: 1;
  z-index: 99;
  outline: none;
  transition: all 0.3s;
}
#btt i {
  color: aqua;
}
#btt:hover {
  color: aqua;
  background-color: #0070bb;
}
.name {
  font-weight: 600;
}
.des {
  text-align: left;
  font-size: 19px;
  font-weight: 500;
  color: rgba(43, 41, 41, 0.897);
}
.newhere {
  width: 205px;
  height: 208px;
  border-radius: 4px;
  padding: 7px 7px;
  border: 2px solid #003153;
  object-fit: cover;
}
.interest {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
/* .interest .des {
  text-align: right
} */
.new-img {
  height: 40px;
  width: 165px;
}
.img-here {
  margin-top: 15px;
  width: 200px;
  height: 210px;
  margin-right: 8px;
  margin-left: 5px;
  margin-bottom: 1px;
  position: relative;
  float: left;
}
.img-here:before {
  content: "";
  position: absolute;
  width: 180px;
  height: 200px;
  border-radius: 4px;
  bottom: 10%;
  transform: translate(-5px, 5px);
  background-color: #003153;
  z-index: -22;
}
.interest img {
  max-height: 91%;
}
.listing {
  list-style-type: square;
}
.next-down {
  margin-bottom: 60px;
}
.tools-Langs {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  width: 50%;
}
.thishere {
  margin-top: 20px;
}
/* Media Queries */
@media (max-width: 992px) {
  .nav-link:hover:before {
    width: 15%;
  }
  .img-here {
    margin: 10px;
  }
  .intro-text {
    color: #003153;
    margin-top: 50px;
  }
  .des {
    font-size: 17px;
  }
}
@media (max-width: 912px) {
  .main:first-child {
    height: 90vh;
  }
  .heading,
  .intro-text {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .main:first-child {
    height: 1100px;
  }
  /* .interest {
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  /* h5 {
    text-align: center;
  } */
  .thishere {
    margin-top: 10px;
  }
  .des {
    font-size: 16px;
  }
  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* h5 {
    margin-left: 5px;
  } */
  .row-first {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .down:nth-child(2) {
    display: none;
  }
  .intro-text {
    margin-top: 60px;
  }
  .btn-read {
    background-color: aqua;
  }
  .btn-read a {
    color: #003153;
  }
  .btn-read:hover {
    background-color: transparent;
  }
  .tools-Langs {
    margin-top: 15px;
    width: 70%;
  }
}
@media (max-width: 567px) {
  .navbar-brand span,
  .heading span,
  .navbar-brand,
  .nav-link.active {
    text-shadow: none;
  }
  .overlay {
    transform: scale(0.7);
  }
  .navbar-toggler {
    transform: scale(0.85);
  }

  .btn-read {
    background-color: aqua;
  }
  .btn-read a {
    color: #003153;
  }
  .down {
    display: none;
  }
  .des {
    text-align: none;
  }
  .btn-read:hover {
    background-color: transparent;
  }
}
@media (max-width: 414px) {
  .main:first-child {
    height: auto;
  }
  .img-here {
    width: 140px;
    height: 170px;
    margin-bottom: 10%;
  }
  .img-here:before {
    width: 130px;
    height: 200px;
    border-radius: 4px;
    bottom: 10%;
    transform: translate(-12px, 35px);
  }
  .intro-text {
    color: #003153;
    margin-top: 70px;
  }
  .navbar-brand span,
  .heading span,
  .navbar-brand,
  .nav-link.active {
    text-shadow: none;
  }
  .btn-read {
    background-color: aqua;
  }
  .btn-read a {
    color: #003153;
  }
  .btn-read:hover {
    background-color: transparent;
  }
}

.next-one {
  margin-top: 30px;
  position: relative;
}
.next-one p{
  font-family:"Poppins"
.next-one:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 5px;
  border-radius: 10px;
  bottom: 20%;
  background-color: #003153;
}
.bottom {
  margin-bottom: 100px;
}
