@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Chivo+Mono:wght@200&family=Comfortaa:wght@300&family=IBM+Plex+Mono:wght@200&family=Lora&family=Monoton&family=Open+Sans&family=Poppins:wght@600&family=Roboto:wght@300&family=Share+Tech+Mono&family=Source+Code+Pro&display=swap");
/* Variables */
:root {
  --bs-navbar-toggler-d: 0px;
  --bs-border-width: 0px;
}
/* Vital Declarations*/
html {
  scroll-behavior: smooth;
}
.container-fluid {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0rem;
}
body {
  background-color: white;
  font-family: "Roboto";
}
a {
  text-decoration: none;
}

/* Header */
header {
  width: 100%;
  height: 56px;
  background-color: #003153;
  box-shadow: 5px 0px 2px #ffffffbb;
  padding: 0;
  z-index: 99;
}
.navbar {
  background: #003153;
  z-index: 2;
}
.navbar-toggler:focus {
  box-shadow: var(--bs-navbar-toggler-d);
}
.navbar-brand {
  text-shadow: 1px 1px 1px rgba(53, 48, 48, 0.327),
    1px 2px 1px rgba(0, 0, 0, 0.327), 1px 3px 2px rgba(0, 0, 0, 0.327),
    1px 4px 3px rgba(0, 0, 0, 0.327), 1px 5px 4px rgba(0, 0, 0, 0.327),
    1px 6px 5px rgba(0, 0, 0, 0.327), 1px 7px 6px rgba(0, 0, 0, 0.327),
    1px 8px 7px rgba(0, 0, 0, 0.327), 1px 9px 8px rgba(0, 0, 0, 0.327);
}
.navbar-brand span {
  margin-top: 40px;
  letter-spacing: 3px;
  font-family: "Comfortaa";
  -webkit-text-stroke: 2px #76abdf;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(53, 48, 48, 0.327),
    1px 2px 1px rgba(0, 0, 0, 0.327), 1px 3px 2px rgba(0, 0, 0, 0.327),
    1px 4px 3px rgba(0, 0, 0, 0.327), 1px 5px 4px rgba(0, 0, 0, 0.327),
    1px 6px 5px rgba(0, 0, 0, 0.327), 1px 7px 6px rgba(0, 0, 0, 0.327),
    1px 8px 7px rgba(0, 0, 0, 0.327), 1px 9px 8px rgba(0, 0, 0, 0.327);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(7, 243, 243)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: all 0.3s ease;
}
.nav-link {
  position: relative;
  letter-spacing: 1px;
  font-family: "Comfortaa";
  -webkit-text-stroke: 1px rgb(27, 231, 231);
  color: transparent;
  transition: all 0.3s ease;
}
.nav-link:hover {
  -webkit-text-stroke: 1px #76abdf;
  color: transparent;
}
.nav-link.active {
  -webkit-text-stroke: 1px #76abdf;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(53, 48, 48, 0.327),
    1px 2px 1px rgba(0, 0, 0, 0.327), 1px 3px 2px rgba(0, 0, 0, 0.327),
    1px 4px 3px rgba(0, 0, 0, 0.327), 1px 5px 4px rgba(0, 0, 0, 0.327);
  transition: all 0.3s ease;
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  border-radius: 5px;
  transform-origin: bottom center;
  bottom: 4%;
  background-color: #76abdf;
  transform: translate(30%, 0%);
  transition: all 0.3s ease;
}
.nav-link:hover:before {
  width: 70%;
}
/* Toggle button */
.navbar-toggler {
  width: 30px;
  height: 20px;
  position: relative;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  border: 1px solid red;
}
.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler-icon {
  outline: none;
  box-shadow: none;
  border: 0;
}
.navbar-toggler span {
  margin: 0;
  padding: 0;
}
.toggler-icon {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: aqua;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  pointer-events: none;
  transition: all 0.25s ease-in-out;
}
.middle-bar {
  margin-top: 0px;
}
/* when clicked */
.navbar-toggler .top-bar {
  margin-top: 8px;
  transform: rotate(135deg);
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  margin-top: 8px;
  transform: rotate(-135deg);
}
/* state when collapsed */
.navbar-toggler.collapsed .top-bar {
  margin-top: 6px;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
  margin-top: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  margin-top: 12px;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .toggle-icon {
  transform: all 0.3s ease-in-out;
}
/* Main - First section */
.main:first-child {
  margin-top: 50px;
  height: 85vh;
  background-image: linear-gradient(
      to bottom,
      rgba(60, 86, 86, 0.14),
      rgba(39, 35, 35, 0.555)
    ),
    url(Images/pexels-ds-stories-6005391.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Children */
/* First child in main-first section */
.child-one {
  /* background-color: white; */
  border-radius: 10px;
}
h1 {
  /* color: rgb(7, 243, 243); */
  margin-top: 55px;
  font-family: "Comfortaa";
  letter-spacing: 4px;
  -webkit-text-stroke: 2px #03182d;
  color: transparent;
  margin-bottom: 10px;
  transform: translate(0px, -100px);
  transition: all 0.9s ease;
  opacity: 0;
}
.heading span {
  letter-spacing: 5px;
  color: #002d62;
  font-family: "Poppins";
  text-shadow: 1px 1px 1px rgba(53, 48, 48, 0.327),
    1px 2px 1px rgba(0, 0, 0, 0.327), 1px 3px 2px rgba(0, 0, 0, 0.327),
    1px 4px 3px rgba(0, 0, 0, 0.327), 1px 5px 4px rgba(0, 0, 0, 0.327),
    1px 6px 5px rgba(0, 0, 0, 0.327), 1px 7px 6px rgba(0, 0, 0, 0.327),
    1px 8px 7px rgba(0, 0, 0, 0.327), 1px 9px 8px rgba(0, 0, 0, 0.327);
}
.read-contact {
  margin-top: 40px;
}
.btn-read {
  text-decoration: none;
  border-radius: 5px;
  background: transparent;
  border: 2px solid aqua;
  opacity: 1;
  padding: 5px 5px;
  transition: all 0.3s ease;
}
.btn-read a,
.btn-contact a {
  color: aqua;
  letter-spacing: 2px;
  padding: 10px 10px;
}
.btn-read:hover {
  background: aqua;
  color: #041e42;
}
.btn-read:hover a {
  color: #041e42;
}
.btn-contact {
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 5px;
  margin-left: 20px;
  background: #041e42;
  border: 2px solid #041e42;
  opacity: 1;
  transition: all 0.3s ease;
}
.btn-contact:hover {
  background: transparent;
}
.btn-contact:hover a {
  color: #0076ce;
}
.intro-text {
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 1.4rem;
  font-family: "Poppins";
  transform: translate(0px, 50px);
  transition: all 0.3s ease;
  opacity: 0;
}

/* Styling of circles at the top left*/
.strains .anim {
  position: absolute;
  margin: 1px 1px;
  left: -30px;
  top: 15px;
  border-radius: 50%;
  margin: 1px 1px;
}
.subs-three {
  background-color: aqua;
  width: 60px;
  height: 60px;
}
.subs-two {
  background-color: #0070bb;
  width: 70px;
  height: 70px;
}
.subs-one {
  background-color: #041e42;
  width: 80px;
  height: 80px;
}

/* Second child in main-first section */
.overlay {
  width: 80%;
  z-index: 1;
  position: relative;
  transition: all 0.3s ease;
  animation: animate 3s linear infinite;
  transform: translate(20px, 30px);
  transition: all 0.3s ease;
  opacity: 0;
}

.overlay::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 40%;
  background-color: rgb(76, 226, 216);
  background-blend-mode: exclusion;
  border-radius: 50%;
  transform-origin: center center;
  transform: translate(50%, 10%);
  z-index: -2;
}
.overlay::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 75%;
  background-color: #003153;
  border-radius: 50%;
  transform-origin: bottom center;
  transform: translate(-100%, 45%);
  z-index: -4;
}
.overlay img {
  transition: all 0.3s ease;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  opacity: 1;
}

.navbar-brand {
  letter-spacing: 3px;
  font-family: "Comfortaa";
  -webkit-text-stroke: 2px aqua;
  color: transparent;
}
.down {
  width: 15%;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: linen;
  transform: translate(0px, 0px);
  transition: all 0.3s ease;
  animation-direction: alternate;
}
/* Fade in animation-class */
.fade-in {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.3s ease;
  transition-delay: 0.4s;
}
/* Main - Second section */
.main:nth-child(2) {
  position: relative;
  height: 700px;
  background-color: linen;
  z-index: 22;
}
.links {
  color: transparent;
  margin-right: 10px;
}
/*Main - Third section */
.main:nth-child(3) {
  height: 800px;
  background-color: pink;
  /* background: linear-gradient(#367588, #0076ce); */
}
/*Main - Last section */
.main:last-child {
  height: 800px;
  /* background-image: url(Images/pexels-ds-stories-6005391.jpg); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background: linear-gradient(#005f69, #041e42);
  /* background-image: url(Images/pexels-tara-winstead-8386440.jpg); */
}
/* Back to top button */
#btt {
  position: fixed;
  color: aqua;
  background-color: #041e42;
  border: 2px solid #041e42;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  bottom: 10px;
  display: block;
  right: 10px;
  opacity: 1;
  z-index: 99;
  outline: none;
  transition: all 0.3s;
}
#btt:hover {
  color: aqua;
  background-color: #0070bb;
}

/* Media Queries */
@media (max-width: 992px) {
  .nav-link:hover:before {
    width: 15%;
  }
  .intro-text {
    color: #003153;
    margin-top: 50px;
  }
}
@media (max-width: 912px) {
  .main:first-child {
    height: 90vh;
  }
}
@media (max-width: 768px) {
  .main:first-child {
    height: 120vh;
  }
  .down:nth-child(2) {
    display: none;
  }
  .intro-text {
    margin-top: 60px;
  }
}
@media (max-width: 414px) {
  .main:first-child {
    height: 140vh;
  }
  .intro-text {
    color: #003153;
    margin-top: 70px;
  }
  .heading span {
    text-shadow: none;
  }
  .navbar-brand span,
  .navbar-brand,
  .nav-link.active {
    text-shadow: none;
  }
}
